// Ace editor

&{

@font-family-base: sans-serif;
@input-border: #333;
@input-height-small: 14px;
@padding-base-horizontal: 10px;
@font-size-base: 14px;
@line-height-base: 1.4em;
@input-color: #444;
@close-font-weight: normal;
@close-text-shadow: #999;
@close-color: #333;

@logo-yellow: #FFD900;
@logo-blue: #53a9ff;
@logo-orange: #ff7606;
@logo-green: #a5cc0a;
@primary: #333;
@secondary: @primary;
@tertiary: @primary;
@primary-desaturated: desaturate(@primary, 70%);
@secondary-desaturated: desaturate(@secondary, 80%);
@transparent: fade(#000, 0%);

@secondary-bg: lighten(@secondary-desaturated, 45%);
@secondary-bg-light: lighten(@secondary-desaturated, 47%);
@secondary-bg-lighter: #fff;
@secondary-color: @primary-desaturated;
@secondary-color-dark: darken(@secondary-color, 12.5%);
@secondary-color-darker: darken(@secondary-color, 25%);
@secondary-color-darkest: darken(@secondary-color, 37.5%);
@secondary-border-color: lighten(@primary-desaturated, 40%);
@secondary-border-color-light: lighten(@primary-desaturated, 44%);
@secondary-border-color-lighter: lighten(@primary-desaturated, 46%);

@code-color: @secondary-color-darkest;
@code-bg: fade(@secondary-desaturated, 7.5%);

@tertiary-bg: #fff;
@tertiary-color-light: fade(@tertiary-color, 60%);
@tertiary-color: darken(@secondary-desaturated, 7.5%);
@tertiary-color-dark: darken(@tertiary-color, 15%);
@tertiary-color-darker: darken(@tertiary-color, 30%);

.ace_editor {
	font-size: 13px;
	color: @tertiary-color-dark;
}

.ace-tm {
	background-color: @tertiary-bg;

	.ace_text-input {
		box-sizing: initial;
	}

	.ace_marker-layer .ace_active-line {
		background-color: fade(@primary-desaturated, 5%);
	}

	.ace_cursor {
		color: darken(@primary-desaturated, 30%);
	}

	.ace_print-margin {
		background-color: fade(@primary-desaturated, 5%);
	}

	.ace_markup.ace_heading,
	.ace_heading {
		font-weight: bold;
		color: #964C23;
	}

	.ace_markup.ace_list {
		color: @tertiary-color;
	}

	.ace_constant.ace_language {
		color: @tertiary-color-light;
		font-weight: normal;
	}

	.ace_meta.ace_tag {
		color: @tertiary-color-dark;
		font-style: italic;
		font-weight: bold;
		background-color: @code-bg;
	}

	.ace_keyword.ace_operator {
		color: @tertiary-color-dark;
		background-color: transparent;
	}

	.ace_keyword {
		color: @tertiary-color-dark;
		background-color: @code-bg;
		font-weight: bold;
	}

	.ace_string {
		color: @tertiary-color-dark;
		font-style: italic;
		background-color: @code-bg;
	}

	.ace_invalid {
		color: inherit;
		background: inherit;
	}

	.ace_strong {
		color: @tertiary-color-dark;
		background: none;
		font-weight: bold;
	}

	.ace_emphasis {
		color: @tertiary-color-darker;
		background: none;
		font-style: italic;
	}

	.ace_blockquote {
		color: @tertiary-color;
	}

	.ace_code {
		color: @tertiary-color-darker;
		background-color: @code-bg;
	}

	.ace_code_block {
		color: @tertiary-color-darker;
	}

	.ace_link {
		color: @tertiary-color;
		background-color: @code-bg;
	}

	.ace_description {
		color: @tertiary-color;
	}

	.ace_constant {
		color: @tertiary-color-dark;
	}

	.ace_comment {
		color: @tertiary-color-light;
		font-style: italic;
	}

	.ace_marker-layer .misspelled {
		position: absolute;
		z-index: -2;
		border-bottom: 1px dotted red;
		margin-bottom: -1px;
	}
}

}