// ==================================================================
// Object display (.obj)
// ==================================================================

.obj-title {
	margin-top: 0;
}

.obj-raw {
	margin: 10px 0 20px;

	.header {
		padding: 10px;
		background: #fff;
		border: 1px solid #eee;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
	}

	.title {
		float: left;
		margin: 0;
		font-size: 14px;
	}

	.right {
		float: right;
		font-size: 12px;
		color: #444;
	}

	pre {
		margin-top: 0;
	}
}